:root {
	--red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: blue;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;

}

.about-agency .img-elmnt .play_button i {
	position: absolute;
	top: 43%;
	left: 22%;
	z-index: 3;
	font-size: 30px;
	color: #fff;
	height: 70px;
	width: 70px;
	border-radius: 100%;
	padding: 20px 27px;
	background: #0554f2;
	cursor: pointer;
}

.about-agency .img-elmnt .bg_anim {
	position: absolute;
	height: 70px;
	width: 70px;
	background: #0554f2;
	z-index: 2;
	border-radius: 100%;
	top: 43%;
	left: 22%;
	opacity: 50%;
	animation: playButton 2s infinite ease-in-out;

}

@keyframes playButton {
	100% {
		transform: scale(2.5);
		opacity: 0;
	}

	0% {
		transform: scale(0);
	}
}